//TODO: Clean this abomination

@use 'reset';
@use 'slider';

$font-stack: Helvetica, sans-serif;
$primary-color: #7e33b7;
$font-color: white;
$background-color: #1A1B25;
$background-color-light: #fff;
$font-color-light: #000;
$accent-color-1: #FF595E;
$accent-color-2: #1982C4;
$accent-color-3: #FFCA3A;
$accent-color-4: #8AC926;
$accent-grey: #bbb;


body{
  background-color: $background-color;
  color: $font-color;
  max-width: 100%;
}

h1 {
  color: $primary-color;
}

h3{
  width: min;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $background-color;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: $background-color;
}

main{
  background-color: $background-color-light;
  color: $font-color-light;
  height: 84vh;
  // padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y:scroll;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.icon-tabler {
  stroke: $primary-color;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#wrapper{
  max-width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(71, 71, 71);
}

.game--detail--cover{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  .game--detail--image{
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    .cover--buttons{
      align-self: end;
      float: right;
      position: absolute;
      margin: 0.5rem;
    }
  }
  img{
    max-height: 33vh;
    margin: auto;
  }
}

.game--detail--summary{
  width: 90%;
  margin-left: 0;
}
.game--detail--title{
  font-size: 2rem;
  text-align: center;
}

.summary--slider {
  display: flex;
}

.summary--grid{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-evenly;
  div{
    display: flex;
  }
}

.game--detail--description{
  padding: 0 1rem;
}

.game--list{
  display: flex;
  flex-direction: column;
  width: 80%;
  .game--list--game {
    display: flex;
    .game--list--content{
      display: flex;
      backdrop-filter: blur(5px) saturate(50%);
      padding: 0.25rem;
      width: 100%;
      text-align: center;
      .game--list--game--thumb{
        min-width: 8rem;
        min-height: 8rem;
        img{
          width: 8rem;
          height: 8rem;
          object-fit: contain;
        }
      }
      .game--list--details{
        width: 100%;
        backdrop-filter: brightness(40%);
        border-radius: 5px;
        margin-left: 0.25rem;
        padding: 0.5rem;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow:hidden;
        text-overflow: clip;
        max-height: 8rem;
        .foo{
          .game--list--details--title{
            font-size: 2rem;
            text-align: start;
          }
        }
        
        .game--list--details--weight{
          justify-self: end;
          display: flex;
          flex-direction: column;
          align-items: center;
          svg{
            stroke: white;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }
      }
    }
  }
}



