* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wrapper{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  color: #fff;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  height: 11vh;
  padding: 1em 2em;
}

nav > h1 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
}

.nav-items{
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding: 10px;
  font-weight: 700;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  justify-self:flex-end;
  background-color: #21222A;
  width: 100%;
  
}

.main-content{
  height: 85vh;
  background-color: #282D35;
  padding: 3em;
}

.main-content > ul > li::marker{
  color: #61DAFB;
  font-size: 1.4rem;

}

