h1 {
    color: green;
}

.row {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-around;
}

.card {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: silver;
    height: 400px;
    width: 330px;
    text-align: center;
}

.smallcard {
    height: 350px;
    width: 300px;
    background-color: silver;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;

}